doctype html
html(ng-app='ang_app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='javascripts/jquery.js')
    script(src='/javascripts/angular.min.js')
    script(src='  /javascripts/ang_app.js')
  body
    block content